[class*='webpush-'] {
  width: 600px;
  height: 300px;
  font-size: 0;

  > .title {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    width: 195px;

    .logo {
      position: absolute;
      top: 0;
      left: 67px;
      width: 71px;
    }

    h1 {
      margin-top: 0;
      font-weight: 700;
      line-height: 1.25;
      text-align: center;
      white-space: break-spaces;
    }
  }
  > .imgarea {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 405px;
    height: 100%;
    overflow: hidden;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
    &.object-cover {
      img {
        height: 100%;
        object-fit: cover;
        transform: none !important;
      }
    }
  }
}

.webpush-webaccess {
  background-color: $gray-200;
  > .title {

    h1 {
      margin: 0 0 0 9px;
      padding: 10px 17px 12px;
      font-size: 33px;
      letter-spacing: -.05em;
      text-align: center;
      white-space: break-spaces;
      border: solid $primary;
      border-width: 1.5px 0;
    }
  }
}

.webpush-covid19 {
  background-color: #b55679;
  > .title {
    padding-left: 10px;
    padding-bottom: 35px;
    color: $white;

    h1 {
      margin-bottom: 0;
      font-size: 33px;
    }
    h2 {
      margin: 0 0 13px;
      font-size: 13px;
      svg {
        width: 15px;
      }
    }
  }
}
