.webpush {
  width: 600px;
  height: 300px;
  font-size: 0;
  background-color: $gray-200;

  > .title {
    display: inline-block;
    position: relative;
    width: 195px;
    height: 100%;
    text-align: center;
    vertical-align: middle;

    .logo {
      position: absolute;
      top: 0;
      left: 67px;
      width: 71px;
    }

    h1 {
      position: absolute;
      top: 100px;
      left: 23px;
      width: (4 * 33px) + 34px - (1.65px * 4);
      margin: 0;
      padding: 10px 17px 12px;
      font-size: 33px;
      font-weight: 700;
      line-height: 1.25;
      letter-spacing: -.05em;
      white-space: break-spaces;
      border: solid $primary;
      border-width: 1.5px 0;
    }

    h2 {
      position: absolute;
      top: 72px;
      left: 23px;
      width: (4 * 33px) + 34px - (1.65px * 4);
      margin: 0;
      color: $primary;
      font-size: 14px;

      svg {
        width: 15px;
      }
    }
  }
  > .imgarea {
    display: inline-block;
    position: relative;
    width: 405px;
    height: 100%;
    vertical-align: middle;
    overflow: hidden;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
    &.object-cover {
      img {
        height: 100%;
        object-fit: cover;
        transform: none !important;
      }
    }
  }
}
