.youtube-media {
  position: relative;

  .logos {
    display: flex;
    align-items: center;
    position: absolute;
    left: 36.5px;
    gap: 7px;
    z-index: 2;

    img.logo {
      position: static;
    }
    img.cooperated {
      width: 74px;
      margin-top: -31px
    }
  }
  .label {
    display: block;
    top: 177.5px;
    color: $white;
    left: 37.5px;
    padding: 2px 6px 4px;
    font-size: 16px;
    line-height: 1;
    background-color: $primary;
  }
  
  .reporter-group {
    position: absolute;
    bottom: 0;
    right: 32px;
    padding-bottom: 43px;
    z-index: 2;
    &::before {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      right: -1px;
      width: 102px;
      height: 17px;
      background-color: $primary;
    }
  }
  .reporter {
    position: relative;
    width: 103px;
    height: 103px;
    border-radius: 50%;
    border: 4.5px solid $primary;
    overflow: hidden;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
    &.object-cover {
      img {
        height: 100%;
        object-fit: cover;
        transform: none !important;
      }
    }
  }
}
