.youtube-forum {
  .label {
    display: block;
    left: 37.5px;
    right: 35px;
    bottom: 137.2px;
    color: $white;
    font-size: 1rem;
    line-height: 1.52;
    &::before {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 5.5px;
      background-color: $primary;
    }
    span {
      position: relative;
      display: table;
      padding: 3px 13px 5px;
      line-height: 1;
      background-color: $primary;
    }
  }
  .title {
    h1 {
      padding: 0 36px 29px;
      font-size: 47.5px;
    }
  }
}
