.youtube-sustainable {
  .title {
    width: calc(100% - 12px);
    text-align: right;
    h1 {
      padding: 10px 35px;
      font-size: 47px;
      p {
        line-height: 1.42;
      }
    }
  }
}
