<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Banner 產生器——天下雜誌</title>
    <meta content="telephone=no" name="format-detection">
    <meta property="og:image" content="https://topic.cw.com.tw/salesforce/assets/images/meta-share-marketing.jpg"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="https://www.cw.com.tw/assets_new/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="https://yutinghcw.github.io/design/assets/css/cw.css">
</head>
<body>
  <div id="app">
    <header>
      <div class="container px20">
        <a href="https://www.cw.com.tw/" target="_blank" class="logo logo--main">
          <img src="https://www.cw.com.tw/images/common/logo.svg" alt="">
        </a>
        <a class="logo logo--sub">
          Banner 產生器
        </a>
      </div>
    </header>
    <main class="py40">
      <div class="container">
        <div class="row g-5">
          <div class="col-md-6">
            <h2 class="mt0">請選擇社群及類型</h2>
            <div class="d-flex mb40">
              <div class="select__group select__group--filled select__group--defalt">
                <select id="social" name="social" v-model="social.select">
                  <option v-for="item in social.items" :value="item.value">{{ item.display }}</option>
                </select>
              </div>
              <div class="select__group select__group--filled select__group--defalt">
                <select id="identity" name="identity">
                  <option v-for="item in type.items" :value="item.value">{{ item.display }}</option>
                </select>
              </div>
            </div>
            <h2 class="mt0">請填寫欄位</h2>
            <div class="mb20">
              <input type="file" name="Filedata" id="file_upload" accept="image/*" />
            </div>
            <div class="form__group form__group--filled w-100 mb20">
              <label class="label form__group--defalt" :class="{'hasValue': value.subtitle.value}">
                <div class="form__group__placeholder">請輸入副標</div>
                <input type="text" class="form__group__input form__group__input--default" v-model="value.subtitle.value">
              </label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="img-uploaded"></div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="assets/js/generator.js" type="module"></script>
</body>
</html>