.ig-cw-picture-post {
  width: 540px;
  height: 540px;
  padding-top: 17px;
  line-height: 1.5;
  background-color: $gray-200;

  img.logo {
    position: absolute;
    top: 0;
    right: 41.5px;
    width: 75px;
    z-index: 1;
  }
  .label {
    padding-bottom: 3px;
    color: $primary;
    font-size: 18px;
    text-align: center;
  }
  .title {
    width: 457px;
    margin-bottom: 21px;
    padding-top: 21.5px;
    padding-bottom: 13.5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    white-space: nowrap;
    border-top: 1px solid $primary;
    border-bottom: 1px solid $primary;
    > h1,
    > h2 {
      height: 1em;
      margin-top: 0;
      margin-left: -0.5em;
      margin-right: -0.5em;
      font-weight: normal;
      line-height: 1;
      overflow: hidden;
    }
    p {
      line-height: 1;
    }
    > h1 {
      margin-bottom: 0;
      font-size: 25px;
      font-weight: bold;
      letter-spacing: .0125rem;
    }
    > h2 {
      margin-bottom: 12px;
      font-size: 18px;
      letter-spacing: .029rem;
    }
  }
  > .imgarea {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    &::before {
      content: '';
      display: block;
      padding-top: calc(760 / 1080 * 100%);
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 25%;
      background: linear-gradient(180deg, rgba($black, 0) 0%, rgba($black, 1) 100%);
      opacity: .9;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
    &.object-cover {
      img {
        height: 100%;
        object-fit: cover;
        transform: none !important;
      }
    }
  }
  .content__block {
    display: none;
  }
  > .swipe__cta {
    position: absolute;
    left: 0;
    bottom: 27.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: .05em;
    color: $white;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: .05em;
    text-align: center;

    &::before {
      content: '';
      display: flex;
      align-items: center;
      justify-content: center;
      width: 28px;
      height: 28px;
      font-size: 24px;
      background-color: $white;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48' width='48'%3E%3Cpath d='m14.3 30.1-1.6-1.65L24 17.15 35.3 28.4l-1.6 1.65-9.7-9.7Z' fill='%23d60c18' stroke='%23d60c18'/%3E%3C/svg%3E");
      background-size: 100%;
      border-radius: 50%;
      transform: scale(.5);
    }
  }
}
