.ig-cw-picture-story {
  width: 540px;
  height: 960px;
  padding-top: 40px;
  line-height: 1.5;
  background-color: $gray-200;

  img.logo {
    position: absolute;
    top: 17px;
    right: 28px;
    width: 84px;
  }
  .label {
    padding-bottom: 4px;
    color: $primary;
    font-size: 18px;
    text-align: center;
  }
  .title {
    width: 447px;
    margin-bottom: 28px;
    padding-top: 18.5px;
    padding-bottom: 17.5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    white-space: nowrap;
    border-top: 1px solid $primary;
    border-bottom: 1px solid $primary;
    > h1,
    > h2 {
      height: 1em;
      margin-top: 0;
      margin-left: -0.5em;
      margin-right: -0.5em;
      font-weight: normal;
      line-height: 1;
      letter-spacing: .05em;
      overflow: hidden;
    }
    p {
      line-height: 1;
    }
    > h1 {
      margin-bottom: 0;
      font-size: 24px;
    }
    > h2 {
      margin-bottom: 10px;
      font-size: 20px;
    }
  }
  .content__block {
    padding-left: 60px;
    padding-right: 60px;
    > img {
      display: none;
    }
    > p {
      margin-top: 12px;
      margin-bottom: 28px;
      font-size: 20px;
      font-weight: 300;
      line-height: 1.2;
      text-align: center;
      white-space: break-spaces;
    }
  }
  > .imgarea {
    position: relative;
    overflow: hidden;
    &::before {
      content: '';
      display: block;
      padding-top: calc(766 / 1080 * 100%);
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
    &.object-cover {
      img {
        height: 100%;
        object-fit: cover;
        transform: none !important;
      }
    }
  }
  > .swipe__cta {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 7em;
    height: 3.5em;
    padding: .5em;
    font-size: 18px;
    color: $primary;
    line-height: 1.2;
    text-align: center;
    white-space: break-spaces;
    transform: translateX(-50%);
    overflow: hidden;
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding-top: 100%;
      background-color: $white;
      border-radius: 50%;
      z-index: -1;
    }
  }
}
