.ig-faq-picture-story {
  width: 540px;
  height: 960px;
  padding-top: 40px;
  line-height: 1.5;
  background-color: $gray-200;

  img.logo {
    position: absolute;
    top: 18.5px;
    right: 41.5px;
    width: 75px;
  }

  .title {
    padding-top: 33px;
    padding-bottom: 15px;
    padding-left: 42px;
    padding-right: 38px;
    letter-spacing: 0.04em;
		> h1 {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 30px;
      font-weight: 600;
      line-height: 1.2;
      white-space: break-spaces;
		}
		> h2 {
      display: none;
		}
    p {
      line-height: 1.2;
    }
	}

  > .imgarea {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $gray-200;
    overflow: hidden;
    &::before {
      content: '';
      display: block;
      padding-top: calc(700 / 1080 * 100%);
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
    &.object-cover {
      img {
        height: 100%;
        object-fit: cover;
        transform: none !important;
      }
    }
  }

  .content__block {
    padding-left: 42px;
    padding-right: 42px;
    letter-spacing: .03rem;
    > img {
      display: none;
    }
    > p {
      margin-top: 11px;
      margin-bottom: 28px;
      font-size: 20px;
      line-height: 1.2;
      white-space: break-spaces;
    }
  }

  .label, .swipe__cta {
    display: none;
  }
}
