.ig-quote-post {
  display: flex;
  flex-direction: column;
  width: 540px;
  height: 540px;
  background-color: $gray-200;

  img.logo {
    position: absolute;
    top: 19.25px;
    right: 34.3px;
    width: 77.5px;
    z-index: 1;
  }
  .title {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 19.5px 35px 20px;
    background-color: rgba(black, .75);
    z-index: 1;
    > img {
      display: none;
    }
    > h1 {
      margin: 10.5px 0 0;
      color: #fff;
      font-family: "Noto Sans TC", sans-serif;
      font-size: 17px;
      text-align: right;
      letter-spacing: .01em;
    }
    > p {
      color: #fff;
      font-size: 24px;
      font-weight: 600;
      line-height: 1.25;
      letter-spacing: .0875em;
    }
  }

  > .imgarea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    &::before {
      content: '';
      display: block;
      padding-top: 100%;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
    &.object-cover {
      img {
        height: 100%;
        object-fit: cover;
        transform: none !important;
      }
    }
  }

  > .swipe__cta {
    display: none;
  }
}
