.ig-summary-post {
  display: flex;
  flex-direction: column;
  width: 540px;
  height: 540px;
  padding-top: 86px;
  padding-bottom: 40px;
  background-color: $gray-200;

  .title {
    margin-top: auto;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 7px;
    border-top: 1px solid $primary;
    order: 1;
  }

  h1 {
    color: $primary;
    font-size: 19px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    white-space: break-spaces;
  }

  .content__block {
    position: relative;
    margin: 53px 0;
    padding: 27px 50px 29px 60px;
    > img {
      position: absolute;
      width: 47.5px;
      height: 40px;
      &:first-child {
        bottom: 100%;
        left: 40px;
        margin-bottom: -0.5px;
      }
      &:last-child {
        top : 100%;
        right: 40px;
        margin-top: 0.5px;
        transform: rotate(180deg);
      }
    }
    > p {
      color: #46535c;
      font-size: 24px;
      line-height: 1.35;
      letter-spacing: .05em;
      white-space: break-spaces;
    }
  }

  img.logo, .label, .imgarea, h2, > .swipe__cta {
    display: none;
  }

}
